.verifyEmail .verify p{
    margin: 20px 0 0 20px;
    color: rgba(0, 0, 0, 0.63);
}
/* .verifyEmail .verify .formGroup{} */
.verifyEmail .verify .formGroup input{
    width: 50px;
    height: 50px;
    margin: 20px 20px 10px 10px;
    background-color: rgba(216, 216, 216, 0.608);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.verifyEmail .verify .button{
    width: 50%;
    height: 50px;
    margin: 20px 20px 10px 10px;
    background-color: #DEA01E;
    border: none;
    border-radius: 10px;
}
.verifyEmail .verify .resendDiv button{
    width: 25%;
    background-color: #001F34;
}
.verifyEmail .loginBackGround{
    height: 100vh;
    padding: 30px;
    background: rgb(63,86,251);
    background: radial-gradient(circle, rgba(63,86,251,1) 0%, rgba(13,30,150,1) 18%, rgba(2,7,34,1) 82%, rgba(0,1,6,1) 100%);
}